<!-- Template hijo de padre.html en el que se describe brevemente a los creadores del sitio-->
{% extends "AppFinal/padre.html" %}
{% load static %}

{% block dynamicContent %}
    <!-- Contenido de la página. El contenido varía dependiendo de la view-->
    <div class="container-fluid">
        <!-- Titulo y descripcion-->
        <h1 class="mt-4">Sobre nosotros :)</h1>
        <h3>Breve descripción de los desarrolladores de esta web.</h3>
        <!-- Descripciones de Francisco-->
        <p>Francisco Aguirre tiene 22 años. Es Aspirante a programador. Y con es Proyecto Final desea estar cada vez mas cerca de entrar al mundo laboral de la programacion.</p></p>
    </div>
{% endblock %}